*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: grid;
    grid-template-rows: 80px 3fr 1fr;
    height: 100vh;
    width: 100%;
}


/* -------main---------- */

main{
    background-color: rgba(0, 0, 0, 0.349);
    
}

.tinah{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: center;
}

h3{
    font-size: 2rem;
    color: #4a3f4a;
}

p{
    background-color: #c8a4c8;
    padding: 8px;
    border-radius: 5px;
}

/* ----------header----------- */
header{
    height: 80px;
    width: 100%;
    background-color:#924c7e;
    box-shadow: 3px 3px 80px #282626;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: 0.3s ease-in-out;
}

.logo a:hover{
    color: #cdbcbc;
    font-size: 2rem;
}

span:hover{
    color: #b50505;
    font-size: 2.5rem;
    font-family: century;
}


.logo{
    padding: 10px 17px;
   
}

span{
    color: rgb(202, 185, 185);
    font-size: 30px;
    font-weight: 800;
    transition: 0.3s ease-in-out;
}

.links ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 13px;
    transition: 0.3s ease-in-out;
}

.links a:hover{
    color: #0ef;
    font-size: 1.3rem;
    background-color: #354827;
    border: 1px solid #354827;
    border-radius: 12px;
}

.burgermenu-button{
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.inscription{
    margin-right:19px ;
    
}

.inscription a{
    color: white;
    padding: 8px 9px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.inscription a:hover{
    color: #0ef;
    font-size: 1.3rem;
    background-color: #354827;
    border: 1px solid #354827;
    border-radius: 12px;
}


/* ---------footer----------- */


footer{
   height: 175px;
   width: 100%;
   background-color: #924c7e;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 35px;
}

.copyright{
    color: white;
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #924c7e;
    box-shadow: 4px 4px 5px #ffffff;
}

.relashionship ul{
    list-style: none;
}

.relashionship a{
    color: white;
    text-decoration: none;
}


.socialmedia ul{
    list-style: none;
}

.socialmedia a{
    color: white;
    text-decoration: none;
}

.links-footer ul{
   list-style: none;
}

.links-footer a{
    text-decoration: none;
    color: white;
}

/* .footer li:hover{
    color: #0ef;
} */

/* ------------burgermenu-------------- */

.burgermenu{
    display: none;
    height: 0;
    position: absolute;
    right: 0.5rem;
    top: 80px;
    width: 200px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(16px);
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open{
    height: 310px;
}

.links-burgermenu a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.links-burgermenu a:hover{
    background-color: #352d2d;
    border: 1px solid #352d2d;
    border-radius: 12px;
    padding: 8px 9px;
}


.burgermenu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider{
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.7rem;
}

.inscription-burgermenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.inscription-burgermenu a{
    color: white;
    padding: 8px 9px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.inscription-burgermenu a:hover{
    background-color: #352d2d;
    border: 1px solid #352d2d;
    border-radius: 12px;
}

/* ---------responsive----------- */
/* @media (min-width:600px){
    footer{
        height: 230px;
    }
} */

@media (max-width:990px){

    .links, .inscription{
        display: none;
    }

    .burgermenu-button{
        display: block;
        margin-right: 15px;
    }

    .burgermenu{
        display: block;
        /* height: 310px; */
    }
}

@media (max-width:510px){
  
    footer{
  
        /* height: 400px; */
        width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .relashionship a,
    .links-footer a,
    .socialmedia a{
        color: #825959;
    }

    .burgermenu{
        left: 0.5rem;
        width: unset;
        
    }

    
}